<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>257764519848-a8ipmfkpmlol8ktqsea5fe3o8dme95i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257764519848-a8ipmfkpmlol8ktqsea5fe3o8dme95i6</string>
	<key>API_KEY</key>
	<string>AIzaSyAhYeaXFhbO3SOt-2V7swpMQARv533Ig94</string>
	<key>GCM_SENDER_ID</key>
	<string>257764519848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ne.sakura.tatsumi44.Swift4LoginApp</string>
	<key>PROJECT_ID</key>
	<string>swift4loginapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swift4loginapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257764519848:ios:fd7ecabb8d99eeac</string>
	<key>DATABASE_URL</key>
	<string>https://swift4loginapp.firebaseio.com</string>
</dict>
</plist>